<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <nav class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
      <div class="navbar-header col-lg-4 col-md-6">
          <p class="navbar-brand"><i class="fa fa-beer"></i>ACSL</p>
          </div>
          
          <div class="col-lg-4 col-md-6">
            <ul class="nav navbar-nav navbar-right">
              <li id="food"><a href="#">Food </a></li>
              <li id="about"><a href="/about">Drink</a></li>
              <li id="order"><a href="">Order</a></li>
            </ul>
        </div><!-- end word nav-->
        <div class="col-lg-4  col-md-6">
            <ul class="nav navbar-nav navbar-right">
              <li id="contact"><a href="/contact"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              <li id="search"><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
        </div><!-- end icon nav-->
    </div><!-- End row-->
    </div> <!-- End Container -->
      </nav>
</head>

<body>
 
      <div class="container">        

    
