<%-include('partials/header3.ejs') %>

  
  <div class="login-form">
    <form method="POST" action="/login">
      <label for="email">
        Email:
        <input type="email" id="email" name="email">
      </label>
      <label for="password">
        Password:
        <input type="password" id="password" name="password">
      </label>
      <button type="submit">Login</button>
    </form>
  </div>
  
  

<%- include('partials/footer') %>