<%-include('partials/header2.ejs') %>
<div class = "container">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <button class = "" type = "submit">Check detail</button>
    <label>Order ID : </label>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
   
    </li>
    </ul>
</div>

<%- include('partials/footer') %>